<h2>Help this developer answer the question!</h2><hr>

<div class="row">
  <div class="col-md-6">
    <h3>{{question.content}}</h3>
    <p>Posted by: {{question.author}}</p>
    <p>Notes: {{question.notes}}</p>

    {{update-question question=question updateQuestion="updateQuestion"}}
  </div>

  <div class="col-md-6">
    <h3>Answers:</h3><br>
      {{#each question.answers as |answer|}}
      <p>{{answer.content}}</p>
      <p>Posted by: {{answer.author}}</p>
      <hr>
      {{/each}}
  </div>
</div>
